<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <div class="container">
      <header id="header"><nav id="NavBar"></nav></header>
      <hr />
      <h1 class="display-6 text-center text-black">Page NOT found</h1>
      <div class="container my-5">
        <div class="col-md-12 text-center">
          <a type="button" class="btn btn-primary btn-block" href="index.html"
            >Go back to home</a
          >
        </div>
      </div>

      <hr />
      <div id="footer"></div>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/partials.js"></script>
  </body>
</html>
