<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body>
    <div class="container">
      <nav id="NavBar"></nav>
      <header id="header"></header>
      <hr />
      <main role="main">
        <div
          id="carouselExampleControls"
          class="carousel slide mb-5"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="./img/baker1.jpg"
                class="rounded mx-auto img-fluid float-start"
                alt="baker"
              />
            </div>
            <div class="carousel-item">
              <img
                src="./img/baker4.jpg"
                class="rounded mx-auto img-fluid float-start"
                alt="baker"
              />
            </div>

            <div class="carousel-item">
              <img
                src="./img/baker3.jpg"
                class="rounded mx-auto img-fluid float-start"
                alt="baker"
              />
            </div>

            <div class="carousel-item">
              <img
                src="./img/baker5.jpg"
                class="rounded mx-auto img-fluid float-start"
                alt="baker"
              />
            </div>
            <div class="carousel-item">
              <img
                src="./img/baker2.jpg"
                class="rounded mx-auto img-fluid float-start"
                alt="baker"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="card">
          <div
            class="card-header fw-light text-black text-center display-6"
            role="heading"
          >
            About Us
          </div>

          <blockquote class="blockquote p-5">
            <p>
              Full Stack Cakes is a small business that specializes in custom
              cakes for all occasions. We are located in the heart of the city
              and have been in business for over 10 years. We are a family owned
              business and we take pride in our work. We are dedicated to
              providing our customers with the best quality cakes and pastries.
              We offer a wide variety of flavors and designs to choose from. We
              also offer delivery services for your convenience. Our goal is to
              make your special day memorable and delicious!
            </p>
          </blockquote>
        </div>
      </main>
      <hr />
      <div id="footer"></div>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/partials.js"></script>
  </body>
</html>
